#logo{
width:80px;
mix-blend-mode: multiply;

}

#logo:hover{
    filter:grayscale();
}
:root {
    --bs-blue: #1e30f3;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-font-sans-serif: "Plus Jakarta Sans";
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 600;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
   
}

body{
    font-family:var(--bs-font-sans-serif) ;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    /* color: var(--bs-body-color); */
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
}
.nav-link:hover, .nav-link:focus {
    color: var(--bs-purple);
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-decoration: underline; 
    /* border-bottom: 2px solid var(--bs-purple); */
  
  
  }

  .bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    transition: all 3s ease-in;
  }
  .bg-gradient-primary-to-secondary:hover {
    background: var(--bs-indigo);
    background: linear-gradient(55deg, var(--bs-indigo) 0%, #e21e80 100%);
  }

  .text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .profile {
    position: relative;
    height: 75vw;
    width: 80vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 30rem;
    background-color: var(--bs-gradient)
  }
  .profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%); */
    transition: all 2s;
  
 
  }
 
  .profile .dots-1 {
    position: absolute;
    width: 3vw;
    right: 1.5vw;
    top: 4vw;
  }
  .profile .dots-1 svg {
    fill: #fff;
  }
  .profile .dots-2 {
    position: absolute;
    width: 3vw;
    right: -4vw;
    top: 6.05vw;
  }
  .profile .dots-2 svg {
    fill: #1e30f3;
  }
  .profile .dots-3 {
    position: absolute;
    width: 3vw;
    left: 1.5vw;
    bottom: 6.05vw;
  }
  .profile .dots-3 svg {
    fill: #fff;
  }
  .profile .dots-4 {
    position: absolute;
    width: 3vw;
    left: -4vw;
    bottom: 4vw;
  }
  .profile .dots-4 svg {
    fill: #1e30f3;
  }
  

  .progress-title{
    font-size: 16px;
    font-weight: 700;
    color:var(--bs-purple);
    margin: 0 0 10px;
}
.progress-outer{
    background: #fff;
    padding: 5px 60px 5px 5px;
    border: 5px solid #bebfbf;
    border-radius: 35px;
    margin-bottom: 20px;
    position: relative;
}
.progress{
    background: #bebfbfva;
    border-radius: 20px;
    margin: 0;
}
.progress .progress-bar{
    border-radius: 20px;
    box-shadow: none;
    animation: animate-positive 2s;
}
.progress .progress-value{
    font-size: 16px;
    font-weight: 700;
    color: var(--bs-purple);
    position: absolute;
    top: 3px;
    right: 10px;
}
@keyframes animate-positive{
    0%{ width: 0; }
}

 .arr>li,.rar>li{
  list-style: none; 
  font-size:14px;
  font-weight: bold;
  list-style-type: square;

}
.arr>li:hover, .rar>li:hover{
  color:var(--bs-indigo);
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

/*
 .thumbnail {
   position: relative; 
  width: 350px;
  height: 250px;
  
   overflow: hidden 
}

.thumbnail > img {
   max-width: 100%; 
  height: 250px;
  transition: all 0.3s ease
}

.thumbnail div {
  position: absolute;
  background: rgba(1,1,1,0.8);
  color: #fff;
  width: 350px;
  height: 250px;
  opacity: 0;
  transition: all 0.3s ease;
  line-height: 300px;
  text-align: center;
  font-size: 20px;
  z-index: 2
  
}

.thumbnail:hover > img {
  transform: scale(1.3)
}

.thumbnail:hover > div {
  opacity: 1
}
 */


 .nob{
  list-style: none;
 }

 .nob:hover{
  color:var(--bs-indigo);
 }
 
 .projimg{

/* width: 350px;
height: 250px; */
 width: 25vw;
height: 33vh; 
border: 2px solid silver;
border-radius: 25px;
transition: all 1s ease;


}


.projimg:hover{
  transform: scale(0.8);
}

.conlist{
  padding-left: 25px;
  
  width: 350px;
 margin: auto;
 
}


.con>li{
  list-style: none; 
  font-size:14px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 25px;
  text-align: left; 
  padding-left: 15px;
  margin-left: 10px;
  

}
.con>li:hover{
  color:var(--bs-indigo);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; 
}